* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  display: flex;
  align-content: center;
  justify-content: between; }

body {
  font-family: "Segoe UI", "Allura", -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

header {
  margin: 40px auto; }

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 56px 0px; }
  .header-inner p {
    margin: 24px 0px;
    font-weight: 500; }
  .header-inner .infos {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column; }
    .header-inner .infos .info {
      display: flex;
      align-content: center;
      margin-bottom: 16px; }
      .header-inner .infos .info .info-details {
        margin: auto 0px auto 16px; }
        .header-inner .infos .info .info-details p {
          font-weight: 500;
          margin: 0px; }
        .header-inner .infos .info .info-details a {
          text-decoration: none;
          font-weight: 500;
          color: #000; }
          .header-inner .infos .info .info-details a:hover {
            cursor: pointer; }
      .header-inner .infos .info .info-icon {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: #ffc001;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto 0px; }
        .header-inner .infos .info .info-icon .arrow-icon {
          margin-left: 6px; }

.title p {
  margin: 24px 0px;
  font-weight: 500; }

.title :last-child {
  margin-bottom: 36px; }

section {
  margin-bottom: 40px; }

.content p {
  text-align: justify;
  line-height: 2;
  font-weight: 500; }

.signature p {
  font-weight: 500;
  margin-bottom: 24px; }

.signature .recipient .sign {
  font-size: 3.6em;
  font-family: "Allura";
  margin: 0px; }

.signature .sender p {
  margin: 0px;
  line-height: 2; }

.signature .sender .sender-name {
  font-weight: normal;
  color: #8e8e8e; }

footer .long-rect {
  background-color: #f4444f;
  width: 100%;
  height: 48px; }

.container {
  width: 961px;
  min-width: 961px;
  margin: 0 auto; }
  @media (max-width: 1152px) {
    .container {
      width: 961px;
      min-width: 961px; } }
  @media (max-width: 960px) {
    .container {
      width: 767px;
      min-width: 767px; } }
  @media (max-width: 768px) {
    .container {
      width: 481px;
      min-width: 481px; } }
  @media (max-width: 480px) {
    .container {
      width: 320px;
      min-width: 320px; } }
  .container .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.container-fluid {
  padding: 0 48px; }
  .container-fluid .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }
